{% extends 'admin/model/create.html' %}

{% block body %}
    {% block navlinks %}
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ return_url }}">{{ _gettext('List') }}</a>
        </li>
        <li class="active">
            <a href="javascript:void(0)">{{ _gettext('Create') }}</a>
        </li>
    </ul>
    {% endblock %}
    <form action="" method="POST" class="admin-form form-horizontal" enctype="multipart/form-data">
        <fieldset>
            <div class="control-group">
                <div class="control-label">
                    <label for="name">Name &nbsp;</label>
                </div>
                <div class="controls">
                    <div>
                        <input id="name" name="name" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <label for="name">Model Name &nbsp;</label>
                </div>
                <div class="controls">
                    <div>
                        <input id="nick_name" name="nick_name" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <label for="class_name">Class Name &nbsp;</label>
                </div>
                <div class="controls">
                    <div>
                        <input id="class_name" name="class_name" type="text" value="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <a href="/admin/model/" class="btn btn-danger" >Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block tail %}
    {{ super() }}
    {{ lib.form_js() }}
{% endblock %}
