{% extends 'admin/master.html' %}

{% block body %}
<h3>正在执行的回测</h3>
    <ul>
    {% for one in locking %}
        <li>{{ one }}</li>
    {% endfor %}
    </ul>
    <hr>
    <h3>回测参数</h3>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="hidden" name="id" value="{{ id }}">
        回测版本号:<input type="text" name="testVersion" value=""><br>
        合约ID【多个用,分割】:<input type="text" name="iids" value=""><br>
        回测开始时间:<input type="text" name="startDate" value=""><br>
        回测结束时间:<input type="text" name="endDate" value=""><br>
        是否有滑点:<input type="radio" name="isRandom" value="1">是<input type="radio" name="isRandom" value="0">否<br>
        随机最大滑点:<input type="text" name="maxSlippage"><br>
        <input type="submit" value="RUN">
    </form>
    <hr>
    <h3>Test Log</h3>
    <ul>
    {% for one in logs %}
        <li><a href="/static/logs/{{ one }}">{{ one }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}
